services/WebContent/wsdl/calculadora.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.calc.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.calc.com" xmlns:intf="http://service.calc.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.calc.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getResultado">
    <complexType>
     <sequence>
      <element name="valor1" type="xsd:float"/>
      <element name="valor2" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="getResultadoResponse">
    <complexType>
     <sequence>
      <element name="getResultadoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getResultadoResponse">


      <wsdl:part name="Operacao" type="xsd:string"></wsdl:part>
      <wsdl:part name="valor1" type="xsd:float"></wsdl:part>
      <wsdl:part name="valor2" type="xsd:float"></wsdl:part>
   </wsdl:message>

   <wsdl:message name="getResultadoRequest">


   </wsdl:message>

   <wsdl:portType name="calculadora">

      <wsdl:operation name="getResultado">


         <wsdl:output message="impl:getResultadoResponse" name="getResultadoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="calculadoraSoapBinding" type="impl:calculadora">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getResultado">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResultadoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getResultadoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="calculadoraService">

      <wsdl:port binding="impl:calculadoraSoapBinding" name="calculadora">

         <wsdlsoap:address location="http://localhost:8080/wscalculador/services/calculadora"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
